   body{
         background-image: url(assets/Peak_background.jpg);
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
      }

      input:focus{
        outline: none; 
      }

      h1{
        color: #753557;
      }

      button{
        background-color: #312650 !important;
      }
